source https://nuget.org/api/v2

nuget FAKE
nuget FAKE.IIS
nuget FunScript
nuget FunScript.TypeScript.Binding.jquery
nuget FunScript.TypeScript.Binding.signalr
nuget MSBuild.Extension.Pack
nuget Microsoft.AspNet.SignalR.Core
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.Owin
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.Owin.Host.SystemWeb
nuget Newtonsoft.Json
nuget Owin
nuget FSharp.Core
