source https://nuget.org/api/v2

nuget FAKE
nuget FAKE.IIS
nuget FunScript
nuget FunScript.TypeScript.Binding.jquery
nuget MSBuild.Extension.Pack
nuget Newtonsoft.Json
nuget FSharp.Core
nuget Suave 0.28.1 framework: >= net45
nuget rethinkdb-net
nuget rethinkdb-net-newtonsoft