html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.messageList {
    margin: 15px;
}

.nameTextBox {
    width: 15%
    margin-right: 15px
}

.messageTextBox {
    width: 75%
    margin-right: 15px
}

.sayButton {
    width: 10%
    flaot: right;
}
